/* $Id: meneame.css,v 1.1.2.1 2011/01/12 23:29:54 oskarcalvo Exp $ */

.menealo a:link,
.menealo a:visited {
  color: #ff6400;
}

.menealo a {	
  display: block;
  margin-top: 2px;
  padding: 4px 0;
  background: url("img/menealo-background.png") repeat-x scroll left bottom transparent;
  border: 1px solid #ffcbaa;
}

.menealo {
  background-color: #ffffff;
}

.meneamevotos a,
.menealo a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px
}

.meneamecaja {
  font-size: 8.2pt;
  margin: 5px 0 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  width: 65px;
}

.cantidad a:link,
.cantidad a:visited {
  color: #ffffff;
  text-decoration: underline;
}

.meneamevotos .cantidad a{
  display: block;
  font-size: 16pt;
  font-weight: normal;
  height: 19pt !important;
  letter-spacing: -1px;
  text-decoration: none;
  vertical-align: bottom;
}
.meneamevotos {
  background: url("img/meneame.png")no-repeat scroll left top #FF6400;
  border-color: #FF6400;
  border: 1px solid;
  display: block;
  padding: 4px 0;
  color: #ffffff;
}
